

.categoriaPC{
    background: var(--pink-CaliforniaGirls);
    padding: 5px;
    border-radius: 30%;
}

main{
    background: url(../../recursos/images/backgrounds/pexels-jess-bailey-designs-1558690.jpg);
    background-size: cover;
  position: relative;
 }