
 /* //////////////////////////////////////////////////////    FOOTER */

Footer{
    
    margin: auto;
    overflow: hidden;
    background: var(--white-AllOfMe);

}

.contenedor-footer > h3{
    color:var(--black-SmoothCriminal);
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    text-align: center;
    padding: 20px;
}

.barraFooter{
    background: linear-gradient(to right, var(--pink-CaliforniaGirls), var(--cian-TeenageDream));
    height: 10px;
    width: 100%;
    position: absolute;
}