*{
    margin:0;
    padding:0;
    box-sizing:boader-box;
    }


    :root{
        --black-SmoothCriminal:#141414;
        --black-SmellsLikeTeenSpirit:rgb(0, 0, 0);
        --black-ImNotTheOnlyOne:#222;
        --white-AllOfMe:#EBEBEB;
        --violet-ColdHeart:#49408C;
        --violet-BackInBlack:#71706F;
        --violet-AllTooWell:#6f65b844;
        --violet-TheMotto:#602c82a4;
        --violet-NovemberRain:#71706F;
        --violet-MyUniverse: #a9a1e0;
        --violet-Levitating: #6F65B8;
        --cian-JustLookUp:#49a09da8;
        --gray-TheScientist:#71706F;
        --gray-Up:#6f65b844;
        --gray-Creep:#a9a1e0;
        --cian-TeenageDream:#4568DC;
        --pink-CaliforniaGirls:#B06AB3; 
        --violet-NotGivingYouUp:#6f65b8a6;
    
        --blue-Shivers: #0c3fb6;
        --blue-Berry: #1058ff;
        --blue-BamBam: #5094ff;
        --green-Toxic: #25e91b;
        --green-Apple: #60ca5b;
        --green-Peace: #219e1a;
        --pink-Fancy: #f97f7e;
        --pink-TheFeels: #ffa68b;
        --orange-Juice: #dc8200;
        --orange-Giants: #fb9c40;
        --red-Velvet: #be1010;
        --red-LoveStory: #b56c4c;
        --red-YouBelongWithMe: #d28b75;
        --yellow-Minero: #e0dd0b;
        --white-Diamond: #e5e5e5;

        --pink-Bubblepop: #aa4b6b;
        --violet-TheBaddest: #6b6b83;
        --cian-DrumGoDum: #3b8d99;
    
        --color01: #D38312;
        --color02: #B06AB3;
    
    
          }



#modal-body{
    font-family: 'Open Sans', sans-serif;


    background: var(--violet-ColdHeart);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,var(--violet-ColdHeart), var(--black-SmoothCriminal));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--violet-ColdHeart),var(--black-SmoothCriminal));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

#modal-body2{
    font-family: 'Open Sans', sans-serif;


    background: var(--violet-ColdHeart);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,var(--violet-ColdHeart), var(--black-SmoothCriminal));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--violet-ColdHeart),var(--black-SmoothCriminal));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}


.form>button{
    background: linear-gradient(to right, var(--pink-CaliforniaGirls), var(--cian-TeenageDream));       
    border: none;
    display: block;
    width: 10em;
    margin: 10px auto;
    color:  var(--white-AllOfMe);
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

.form>h1{
    text-align: center;
    font-weight: 700;
    color: var(--cian-TeenageDream);
}

.form{
    background:  white;
    padding: 25px 30px;
    box-shadow: 0 0 6px 0  var(--white-AllOfMe);
    border-radius: 8px;
}

.grupo{
    position: relative;
    margin: 10px ;
}

.grupo>input{
    background: none;
    color: var(--black-SmoothCriminal);
    font-size: 16px;
    padding: 15px 5px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--gray-Up);
}

.grupo>input:focus{ 
    outline: none;
    color: var(--black-SmoothCriminal);
}



.datos-form{
    color: var(--gray-TheScientist);
    font-size: 18px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
}

.grupo>input:focus~label,
.grupo>input:valid~label{
    top: -14px;
    font-size: 12px;
    color: var(--gray-TheScientist);
}

.grupo>h4{
    color: var(--gray-TheScientist);
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    left: 5px;
    top: -10px;
}

.foto-form {     
    text-align: center;
    color: var(--white-AllOfMe);
    background-color: var(--gray-Up);
    display: block;
    padding: .5em 1em;
    width: 20em;
    text-align: center;
}
 


.grupo>input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .grupo>img{
text-align: center;
width: 265px;
height: 265px;
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
}



.barra{
position: relative;
display: block;
width: 100%;
}

.barra::before{
content: "";
height: 2px;
width: 0%;
bottom: 0;
position: absolute;
background: linear-gradient(to right, var(--pink-CaliforniaGirls), var(--cian-TeenageDream));
transition: 0.3s ease width;
left: 0;
}

.grupo>input:focus~.barra::before{
width: 100%;
}

/* ///////////////////////////////////// Pagina Registro*/


/* ///////////////////////////////////// Pagina Iniciar Sesion*/


.boton-iniciarsesion{
background: var(--violet-ColdHeart);        
border: none;
display: block;
width: 19em;
margin: 10px auto;
color: var(--white-AllOfMe);
height: 40px;
font-size: 16px;
cursor: pointer;
font-family: 'Open Sans', sans-serif;
}


#boton-crearcuentaIniciarSesion{
color: var(--gray-TheScientist);
font-size: 12px;
font-weight: 400;
text-decoration: none;
text-align: center;
width: 2px;
padding: 25%;
}






/* ///////////////////////////////////// ScrollBar*/

.modal-body::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    background: var(--white-AllOfMe);
    border-radius: 4px;
}

.modal-body::-webkit-scrollbar-thumb {
    background: var(--violet-ColdHeart);
    border-radius: 5px;
    height: 5px;
}


/* ////////////////////////////////////////// */


#btnCompartirFacebook{
    background: var(--blue-BamBam);        
    border: none;
    display: block;
    width: 100%;
    margin: 10px auto;
    color:  var(--white-AllOfMe);
    height: 40px;
    cursor: pointer;
    font-family: 'Fredoka', sans-serif;
    border-radius: 5px;
}

#btnModalMenu{

    background: var(--violet-Levitating);        
    border: none;
    display: block;
    width: 100%;
    margin: 10px auto;
    color:  var(--white-AllOfMe);
    height: 40px;
    cursor: pointer;
    font-family: 'Fredoka', sans-serif;
    border-radius: 5px;
}

#btnModalMenu02{

    background: var(--violet-Levitating);        
    border: none;
    display: block;
    width: 100%;
    margin: 10px auto;
    color:  var(--white-AllOfMe);
    height: 40px;
    cursor: pointer;
    font-family: 'Fredoka', sans-serif;
    border-radius: 5px;
}

#btnModalMenu03{
    background: var(--violet-Levitating);        
    border: none;
    display: block;
    width: 100%;
    margin: 10px auto;
    color:  var(--white-AllOfMe);
    height: 40px;
    cursor: pointer;
    font-family: 'Fredoka', sans-serif;
    border-radius: 5px;
}

#PlayGameButton{

    background: var(--violet-Levitating);        
    border: none;
    display: block;
    width: 100%;
    margin: 10px auto;
    color:  var(--white-AllOfMe);
    height: 40px;
    cursor: pointer;
    font-family: 'Fredoka', sans-serif;
    border-radius: 5px;
}

.detalle-textarea{
    width: 100%;
}

.categorias-select{
    position: relative;
    width: 100%;
    top: 8px;

}

@media screen and (max-width: 320px){
    #boton-crearcuentaIniciarSesion{
        padding: 0%;
        }
        
}

