* {
  margin: 0;
  padding: 0;
  box-sizing: boader-box;
}

:root {
  --white-SomeoneLikeYou: #161616a8;

  --black-SmoothCriminal: #141414;
  --black-SmellsLikeTeenSpirit: rgb(0, 0, 0);
  --black-ImNotTheOnlyOne: #222;
  --white-AllOfMe: #ebebeb;
  --violet-ColdHeart: #49408c;
  --violet-BackInBlack: #71706f;
  --violet-AllTooWell: #6f65b844;
  --violet-TheMotto: #602c82a4;
  --violet-NovemberRain: #71706f;
  --violet-MyUniverse: #a9a1e0;
  --violet-Levitating: #6f65b8;
  --cian-JustLookUp: #49a09da8;
  --gray-TheScientist: #71706f;
  --gray-Up: #6f65b844;
  --gray-Creep: #a9a1e0;
  --cian-TeenageDream: #4568dc;
  --pink-CaliforniaGirls: #b06ab3;
  --violet-NotGivingYouUp: #6f65b8a6;

  --blue-Shivers: #0c3fb6;
  --blue-Berry: #1058ff;
  --blue-BamBam: #5094ff;
  --green-Toxic: #25e91b;
  --green-Apple: #60ca5b;
  --green-Peace: #219e1a;
  --pink-Fancy: #f97f7e;
  --pink-TheFeels: #ffa68b;
  --orange-Juice: #dc8200;
  --orange-Giants: #fb9c40;
  --red-Velvet: #be1010;
  --red-LoveStory: #b56c4c;
  --red-YouBelongWithMe: #d28b75;
  --yellow-Minero: #e0dd0b;
  --white-Diamond: #e5e5e5;

  --pink-Bubblepop: #aa4b6b;
  --violet-TheBaddest: #6b6b83;
  --cian-DrumGoDum: #3b8d99;

  --color01: #d38312;
  --color02: #b06ab3;
  --transparent: rgba(0, 0, 0, 0);
}

body {
  font-family: "Open Sans", sans-serif;
  background: var(--white-AllOfMe);
}



